<div class="container-fluid bg-gradient">
  <div class="row min-vh-100 py-4 bg-image justify-content-center align-items-center align-content-center">
    <div class="col-12 col-lg-5 d-flex flex-column justify-content-center align-items-center mx-auto">
      <div class="text-center mb-3">
        <h1 class="d-inline fw-bold text-white bg-dark rounded-3 shadow-sm box-decoration-clone lh-base px-2 py-1">Planning Poker <span class="text-nowrap">Web App</span></h1>
      </div>
      <div class="text-center mb-4 mb-lg-3 ps-2">
        <h3 class="d-inline fw-bold text-white bg-dark rounded-3 shadow-sm box-decoration-clone lh-base px-2 py-1">Estimate backlog items with your <span class="text-nowrap">agile remote team</span></h3>
      </div>
      <ul class="nav nav-pills justify-content-center ps-2 gap-4">
        <li class="nav-item">
          <a routerLink="./create-session" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
             class="nav-link rounded-pill border border-1 shadow-sm fs-5 text-uppercase px-4" role="button">Create</a>
        </li>
        <li class="nav-item">
          <a routerLink="./join-session" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }"
             class="nav-link rounded-pill border border-1 shadow-sm fs-5 text-uppercase px-4" role="button">Join</a>
        </li>
      </ul>
    </div>
    <div class="col-12 col-sm-8 col-lg-5 mx-auto">
      <div class="position-relative mt-4" [@fadeAnimation]="getRouteAnimationData()">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
