<div class="container-fluid px-0">
  <div class="d-flex vh-100 justify-content-start align-items-stretch">
    <div class="col-lg-3" [(ngbCollapse)]="isBacklogCollapsed" [horizontal]="true" [animation]="true">
      <app-backlog></app-backlog>
    </div>
    <div class="col-12 col-lg-6">
      <app-estimate></app-estimate>
    </div>
    <div class="col-lg-3" [(ngbCollapse)]="isDiscussCollapsed" [horizontal]="true" [animation]="true">
      <app-discuss></app-discuss>
    </div>
  </div>
</div>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
