<div class="container-fluid px-0">
  <div class="d-flex vh-100 justify-content-start align-items-stretch">
    <div class="col-lg-3" [(ngbCollapse)]="isBacklogCollapsed" [horizontal]="true" [animation]="true">
      <div class="d-none d-lg-block">
        <app-backlog></app-backlog>
      </div>
    </div>
    <div class="col-12 col-lg-6 flex-grow-1">
      <app-estimation></app-estimation>
    </div>
    <div class="col-lg-3" [(ngbCollapse)]="isDiscussionCollapsed" [horizontal]="true" [animation]="true">
      <div class="d-none d-lg-block">
        <app-discussion></app-discussion>
      </div>
    </div>
  </div>
</div>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
